/*element selectors*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #5CA4D7;
}

span {
    display: inline-block;
}


/*class selectors*/

.container {
    overflow: hidden;
}

.left_shirt,
.middle_shirt,
.right_shirt {
    display: inline-block;
    width: 33%;
    height: 520px;
    margin: 30px auto;
    padding: 10px 25px 10px 25px;
    vertical-align: top;
}

.top {
    position: relative;
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
    border-top: 3px solid #5CA4D7;
    border-right: 3px solid #5CA4D7;
    border-bottom: 3px solid #5CA4D7;
    border-left: 3px solid #5CA4D7;
}

.top_right {
    display: inline-block;
    position: absolute;
    height: 35px;
    width: 35px;
    top: 0px;
    right: 0px;
    border-bottom: 3px solid #5CA4D7;
    border-left: 3px solid #5CA4D7;
    vertical-align: middle;
}

.top_right:hover {
    background-color: #5CA4D7;
    color: white;
}

.middle {
    display: block;
    margin: 0px auto;
    vertical-align: middle;
    border-top: 0px;
    border-right: 3px solid #5CA4D7;
    border-bottom: 0px;
    border-left: 3px solid #5CA4D7;
}

.bottom {
    margin: 0px;
    padding: 20px 5px 0px 8px;
    border-top: 3px solid #5CA4D7;
    border-bottom: 0px;
    height: 53px;
    font-size: 27px;
    font-family: 'Raleway', sans-serif;
}

.fa-repeat {
    padding-top: 8px;
    padding-left: 8px;
}

.small_pic_1,
.small_pic_2,
.small_pic_3,
.small_pic_4,
.small_pic_5 {
    display: inline-block;
    width: 20%;
    height: 60px;
    color: #5CA4D7;
    text-align: center;
    border-top: 0px;
    border-right: 3px solid #5CA4D7;
    border-bottom: 0px;
    border-left: 3px solid #5CA4D7;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
    vertical-align: middle;
    font-size: 23px;
}

.small_pic_1:hover,
.small_pic_2:hover,
.small_pic_3:hover,
.small_pic_4:hover,
.small_pic_5:hover {
    background-color: #5CA4D7;
    color: white;
}

.small_pic_1 {
    border-left: 0;
    border-right: 0;
}

.small_pic_3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.small_pic_2,
.small_pic_3,
.small_pic_4,
.small_pic_5 {
    border-right: 0;
}

.small_pic_4_color_blue {
    width: 30px;
    height: 30px;
    margin: -5px auto;
    background-color: #5CA4D7;
}

.small_pic_4_color_pink {
    width: 30px;
    height: 30px;
    margin: -5px auto;
    background-color: #D482AA;
}

.small_pic_4_color_orange {
    width: 30px;
    height: 30px;
    margin: -5px auto;
    background-color: #DCB07D;
}

.small_pic_4:hover .small_pic_4_color_blue {
    border: 2px solid white;
}

.small_pic_4:hover .small_pic_4_color_pink {
    border: 2px solid white;
}

.small_pic_4:hover .small_pic_4_color_orange {
    border: 2px solid white;
}

.shirt {
    max-width: 90%;
    height: 320px;
    margin: 10px auto;
    padding: 5px;
    display: block;
}

img.shirt {
    margin-top: 10px;
}

.text_left {
    text-align: left;
    width: 78%;
}

.text_right {
    text-align: right;
    width: 19%;
    font-weight: bold;
}


/*Dropdown menus*/


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content-shirts {
    display: none;
    position: absolute;
    top: -270px;
    left: -67px;
    background-color: #f9f9f9;
    padding: 25px;
}

.dropdown-content-colors {
    display: none;
    position: absolute;
    top: -135px;
    left: -50px;
    background-color: #f9f9f9;
    padding: 8px;
    width: 125px;
}

.dropdown_blue,
.dropdown_pink,
.dropdown_orange,
.dropdown_green {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
}

.dropdown_blue {
    background-color: #5CA4D7;
}

.dropdown_pink {
    background-color: #D482AA;
}

.dropdown_orange {
    background-color: #DCB07D;
}

.dropdown_green {
    background-color: green;
}


/* Show the dropdown menu on hover */

.small_pic_3:hover .dropdown-content-shirts {
    display: block;
    background-color: white;
    border: 3px solid #5CA4D7;
}

.small_pic_4:hover .dropdown-content-colors {
    display: block;
    background-color: white;
    border: 3px solid #5CA4D7;
}


/*arrow on hover border*/


/*shirts*/

.dropdown-content-shirts {
    position: absolute;
    background: #FFFFFF;
    border: 3px solid #5CA4D7;
}

.dropdown-content-shirts:after,
.dropdown-content-shirts:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.dropdown-content-shirts:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #FFFFFF;
    border-width: 6px;
    margin-left: -6px;
}

.dropdown-content-shirts:before {
    border-color: rgba(92, 164, 215, 0);
    border-top-color: #5CA4D7;
    border-width: 10px;
    margin-left: -10px;
}


/*colors*/

.dropdown-content-shirts {
    position: absolute;
    background: #FFFFFF;
    border: 3px solid #5CA4D7;
}

.dropdown-content-colors:after,
.dropdown-content-colors:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.dropdown-content-colors:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #FFFFFF;
    border-width: 6px;
    margin-left: -6px;
}

.dropdown-content-colors:before {
    border-color: rgba(92, 164, 215, 0);
    border-top-color: #5CA4D7;
    border-width: 10px;
    margin-left: -10px;
}


/*media queries*/

@media screen and (min-width:350px) and (max-width: 990px) {
    .left_shirt,
    .middle_shirt,
    .right_shirt {
        width: 100%;
    }
    .small_pic_1,
    .small_pic_2,
    .small_pic_3,
    .small_pic_4,
    .small_pic_5 {
        font-size: 25px;
    }
    .bottom {
        font-size: 35px;
    }
    .shirt {
        max-width: 100%;
    }
}
